body {
    margin:0;
}
nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    /*border-bottom: 1px solid #ceaa52;*/
}  

nav img {
    position: absolute;
    width:200px;
    left:10px;top:0px;
    z-index: 1;
}

nav ul#menu-desktop {
    margin:0;
    padding:0;
    text-align: center;
}

nav ul#menu-desktop li {
    list-style-type:none;
    display: inline;
}

nav ul#menu-desktop li a {
    padding: 30px 40px;
    text-decoration: none;
    color:#FFF;
    display: inline-block;
    margin-right: -3px;
    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.60
}

nav ul#menu-desktop li a:hover {
    background-color: #0d1e3a;
}

nav ul#menu-mobile, nav div#menu-btn {
    display: none;
}  

.covid-19 a{
    padding: 12px 0;
    background: firebrick;
    color: #FFF;
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    background-image: url(../_img/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
} 

header h1 {
    font-family: Roboto, sans-serif;
    font-size: 440%;
    color: #FFF;
    text-align: center;
    padding-top: 20%;
    text-shadow: 0 0 30px #0d1e3a;

}


.seletor {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

#global_footer .g-footer {
    background-color: none;
    margin-right: 30px;
	float: left;
	margin-top: 5px
 }

 .g-footer .g-footer-address p  {
    margin: 0;
    padding-top: 100px;
    color:#333;
    

}
.g-footer-address p small{
    text-align: center;
    border-top: 1px solid #d2d2d7;
	color: #86868b;
	padding: 17px 0 21px;
	padding-bottom: calc(21px + constant(safe-area-inset-bottom))
}

.g-footer .g-footer-copyright {
    position:absolute;
    bottom:0;
    width:100%;
    padding: 0;
    text-align: center;
    color: #333;
    
}

.g-footer-legal a{
	position: relative;
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    display: inline-block;
	margin-top: 5px;
    color:#06c;
    text-decoration: none;
	top: -5px;
	z-index: 1;
}

